*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
#content{
    margin: 40px 50px;
}
#manage-title{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
    color: #17496d;
}
#total, #current-page{
    font-style: italic;
    text-decoration: underline;
    padding: 0 5px;
}
.preview{
    margin: 10px 0;
    height: 100px;
    position: relative;
}
hr{
    width: 100%;
    height: 2px;
    border-style: none;
    border-top: 1px solid #a2a3a8;
}
.date{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    margin-right: 30px;
}
.block{
    width: 50px;
    height: 30px;
    background-color: #4066bb;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-bottom: 3px;
}
.month{
    font-size: 26px;
    text-align: center;
    height: 44px;
}
.year{
    text-align: center;
}
.article{
    position: absolute;
    left: 80px;
    top: 0;
    margin-right: 160px;
    cursor: pointer;
}
.article img{
    display: none;
}
.article-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    height: 24px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.article-title:hover{
    text-decoration: underline;
}
.detail-time{
    float: right;
    font-size: 13px;
    margin-right: 20px;
    line-height: 24px;
    color: #696466;
}
.modify-btn, .delete-btn{
    float: right;
    margin-right: 30px;
    line-height: 24px;
}
.article-words{
    font-size: 15px;
    text-indent: 28px;
    line-height: 22px;
    color: #696466;
    height: 66px;
    overflow: hidden;
}
.article-words:hover{
    text-decoration: underline;
}
.preview .img{
    width: 140px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}
.preview .img img{
    width: 140px;
    height: 100px;
}
.preview a{
    color: #000;
}
.page{
    padding: 4px 10px;
    display: inline-block;
    border: 2px solid #eee;
    border-radius: 4px;
    font-size: 16px;
    color: #428bca;
    line-height: 18px;
    margin: 0 5px;
}
#pages{
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
}
#pages input{
    width: 30px;
    margin-left: 5px;
    border-radius: 2px;
    border: 1px solid #eee;
}
#pages button{
    padding: 4px 10px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 3px;
    outline: none;
    color: #428bca;
    cursor: pointer;
    border: 2px solid #eee;
}
.page:hover{
    background-color: #428bca;
    color: #fff;
}
#pages button:hover{
    background-color: #428bca;
    color: #fff;
}

