*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #3c8dbc;
    color: #fff;
    position: relative;
    min-width: 900px;
}
main{
    width: 100%;
    min-width: 900px;
    height: 100%;
    overflow: hidden;
}
#logo{
    width: 220px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #357ca5;
    cursor: pointer;
}
#search{
    position: absolute;
    top: 14px;
    right: 150px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 220px;
    height: 25px;
    border-style: none;
    outline: none;
    padding-left: 28px;
    padding-right: 8px;
}
#search-select{
    position: absolute;
    top: 14px;
    right: 370px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 25px;
    border-style: none;
    padding-left: 5px;
    outline: none;
}
nav>i{
    position: absolute;
    top: 18px;
    right: 350px;
    z-index: 10;
    color: #8b8d8d;
}
#logout{
    height: 22px;
    position: absolute;
    right: 55px;
    top: 14px;
    cursor: pointer;
}
aside{
    width: 230px;
    background-color: #222d32;
    padding-top: 15px;
    float: left;
    min-height: 640px;
    padding-bottom:9999px;
    margin-bottom:-9999px;
}
#admin-info{
    padding-left: 20px;
}
#admin-info img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-bottom: 10px;
}
#admin-info .welcome{
    float: right;
    width: 125px;
    padding-left: 40px;
    padding-top: 2px;
}
#admin-info .modify-password{
    color: #807c7c;
    font-size: 14px;
    cursor: pointer;
}
#admin-info .modify-password:hover{
    color: #fff;
}
#admin-name{
    color: #fff;
    font-size: 18px;
}
aside .separate{
    height: 30px;
    background-color: #1a2226;
    color: #4b646f;;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}
aside .title{
    height: 45px;
    line-height: 45px;
    background-color: #1e282c;
    color: #b8c7ce;
    font-size: 15px;
    padding-left: 18px;
}
aside .title:hover{
    color: #fff;
    cursor: default;
}
aside .list{
    height: 35px;
    background-color: #2c3b41;
    line-height: 35px;
    color: #b8c7ce;
    font-size: 14px;
    padding-left: 55px;
}
aside .list:hover{
    color: #fff;
    cursor: pointer;
}
aside .switch{
    float: right;
    margin-right: 30px;
}
article{
    margin-left: 230px;
    width: calc(100% - 230px);
    min-width: 670px;
}
#tips{
    margin: 50px 0 0 80px;
    font-size: 20px;
    line-height: 28px;
    color: #17496d;
}
#tips span{
    font-style: italic;
    text-decoration: underline;
    padding:0 6px;
    cursor: pointer;
}
.input-title{
    width: calc(100% - 20px);
    height: 36px;
    border: 1px solid #ccc;
    border-bottom: none;
    padding-left: 20px;
    font-size: 18px;
}
.input-title::-webkit-input-placeholder{
    font-size: 18px;
}
.editor{
    margin: 30px 40px;
}
.title-container{
    height: 30px;
    line-height: 30px;
}
.tip{
    margin: 32px 40px 0 40px;
}
.tip span{
    font-size: 20px;
    font-weight: 500;
}
.tip button{
    float: right;
    margin-right: 10px;
    width: 220px;
    height: 32px;
    font-size: 15px;
    color: #fff;
    background-color: #3c8dbc;
    border-style: none;
    border-radius: 5px;
    outline: none;
}
.submit{
    float: right;
    width: 100px;
    margin-right: 40px;
    height: 40px;
    color: #fff;
    background-color: #3c8dbc;
    border-style: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
}
.cancel{
    float: right;
    width: 100px;
    margin-right: 40px;
    height: 40px;
    color: #000;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
}
#chooseEditor{
    margin-top: 20px;
    margin-left: 60px;
}
#chooseEditor h4{
    margin-bottom: 20px;
}
#settingHeadline{
    margin-top: 10px;
    margin-left: 45px;
    display: inline-block;
    font-size: 16px;
}
a:hover{
    cursor: pointer;
}


